[Unit]
Description=Calvin and Hobbes

[Service]
ExecStart=/home/root/bin/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -cooldown 86400 \
    -url https://www.gocomics.com/calvinandhobbes/%%Y/%%m/%%d \
    -user-agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" \
    -xpath "//img[contains(@class, 'comic') and contains(@class, 'image')]/@src" \
    -strftime \
    -mode fill \
    -scale 0.9 
Restart=always

[Install]
WantedBy=multi-user.target
