[Unit]
Description=Calvin and Hobbes

[Service]
ExecStart=/home/root/bin/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -cooldown 86400 \
    -url https://www.gocomics.com/calvinandhobbes/%%Y/%%m/%%d \
    -header "User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:149.0) Gecko/20100101 Firefox/149.0" \
    -header "Accept-Language: en" \
    -header "Accept: */*" \
    -xpath "//img[contains(@class, 'comic') and contains(@class, 'image')]/@src" \
    -strftime \
    -mode fill \
    -scale 0.9 
Restart=always

[Install]
WantedBy=multi-user.target
